{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='blog/create.css') }}">
{% endblock %}

{% block header %}
<div class="w3-container w3-mobile">
  <div class="w3-panel w3-theme w3-center w3-bar">
	  <h2>{% block title %}Create Post{% endblock %}</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="w3-container">
  <div class="w3-card-4 w3-mobile">
    
      <form class="w3-container" method="post">
        <p>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="w3-input" value="{{ request.form['title'] }}">
        </p>

        <p>
          <label for="body">Body</label>
          <textarea name="body" id="body" class="w3-input">{{ request.form['body'] }}</textarea>
        </p>

        <p>
          <input class="w3-btn" type="submit" value="Save">
        </p> 
      </form>
    
  </div>
</div>
{% endblock %}
