.w3-button:hover {
    background-color: rgb(255, 255, 255) !important;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}

p, li {
    font-size: 1.25rem;
}

hr {
  border-top-color: rgb(192, 192, 192);
}
