{% extends 'base.html' %}

{% block header %}
<div class="w3-container w3-mobile">
  <div class="w3-panel w3-theme w3-center w3-bar">
    <h1>{% block title %}Register{% endblock %}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="w3-container">
 <div class="w3-card-4 w3-mobile">
    
    <form class="w3-container" method="post">
      <p>
        <label for="username">Username</label>
        <input name="username" id="username" class="w3-input">
      </p>
      
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="w3-input">
      </p>
      
      <p>
        <input class="w3-btn" type="submit" value="Register">
      </p>
    </form>
    
  </div>
</div>
{% endblock %}