<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Flaskr</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-w3schools.css">
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <nav class="w3-bar w3-theme-d3 w3-center">
    <h1>Flaskr</h1>
    <ul>
      {% if g.user %}
        <span class="w3-bar-item w3-theme-dark">{{ g.user['username'] }}</span>
        <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-theme-dark">Log Out</a>
      {% else %}
        <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-theme-dark">Register</a>
        <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-theme-dark">Log In</a>
      {% endif %}
    </ul>
  </nav>

  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
</body>

</html>